@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Light.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-LightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-SemiboldItalic.ttf.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Heavy.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-HeavyItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url("../fonts/Lato2OFL/Lato-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.oculto{
    display: none;
}


header{
    background: #ffffff;
    height: 120px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#idioma{
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 0;
    height: 29px;
    width: 44px;
    overflow: hidden;
    background: rgba(14, 27, 12,1);
}

.idioma-expand{
    height:87px !important;
    background: rgba(14, 27, 12,0.1) !important;
}

.idioma-expand > .trigger{
    display: none !important;
}

#idioma a{
    float: left;
    height:25px;
    width:40px;
    margin: 0;
    padding: 2px;
    display: block;
}

.opcao-idioma:hover{
    background: rgba(14, 27, 12,1);
}

#idioma img{
    margin: 0;
    padding: 0;
    height: 25px;
    width: 40px;
}

.cabecalho{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:1000px;
    height: 100%;
}

.logo{
    float: left;
    margin: 10px;
    height: 100px;
    width: fit-content;
}

.logo img{
    height: 100%;
}

nav{
    text-align: center;
    margin: 49px 50px 0 0;
    float: right;
}

nav a{
    width: fit-content;
    color:#2b4d26;
    padding: 16px 0px;
    margin: 0 24px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 0.7em;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
}

nav .menu-item{
    float: left;
    margin: 0;
    padding: 0;
}

nav .sub-menu{
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 1px;
    opacity: 0;
    margin: -45px -12px 0 -12px; 
    transition:300ms;
    transition-timing-function: ease-in-out;
    z-index: 1000;
}

nav .sub-menu a{
    display: inline-block;
    border-bottom: 1px solid #0e1b0c;
    margin: 0;
    padding: 0;
    width: 180px !important;
    color: #ffffff;
    background:rgba(0, 54, 20,0.8);
    margin: 0 !important;
}

nav .sub-menu a:hover{
    background: rgba(14, 27, 12,0.8)
}

.dropdown-arrow{
    padding-right: 10px;
    background-image: url(../img/arrow-down-hover.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dropdown-aberto{
    opacity: 1 !important;
    margin-top: 0 !important;
    height: auto !important;
    transition:300ms;
    transition-timing-function: ease-in-out;
}

main{
    width:100%;
    min-height: 550px;
}

footer{
    z-index:50;
    display: block;
    width: 100%;
    position: absolute;
    margin: 0;
    overflow: hidden;
    background:#0e1b0c;
}

#parceiros{
    right: 0;
    color:#868484;
    text-transform: uppercase;
    height: 180px;
    background: #f3f3f3;
}

#parceiros span{
    position: relative;
    left: calc(50% - 450px);
    float: left;
    padding: 45px 0;
    line-height: 90px;
}

#bar-rodape{
    width: 100%;
    height: 20px;
    background: #003614;
}

#rodape{
    width: 960px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 350px;
}

.coluna-rodape{
    border-left: 1px solid #2e5128;
    margin: 50px 0px;
    padding: 0 9.5px;
    float: left;
    width: 300px;
    height: 250px;
}

.coluna-rodape:first-child{
    border: none;
}

#rodape{
    line-height: 1.5em;
    font-size: 0.8em;
    color: #ffffff;
}

#rodape a{
    color: #ffffff;
    text-decoration: none;
}

#rodape a:hover{
    text-decoration: underline;
}

#rodape h1{
    color:#3e6d35;
    font-size:1em;
    text-transform: uppercase;
    font-weight: 900;
}

#rodape h1 a{
    color:#3e6d35;
}