.heapBox
{
clear:both;
display:inline-block;
line-height:44px;
position:relative;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
}

.heapBox * {
margin:0;
padding:0;
outline: none;
}

.heapBox.disabled .holder {
	color:#FFBC46;
}

.heapBox a {
text-decoration:none;
color:#fff;
}

.heapBox .holder {
	width:160px;
	overflow:hidden;
	background:#004c1e;
	text-indent:20px;
	height:44px;
	border-radius: 5px;
}

.heapBox .handler {
width:25px;
background:#004c1e url(../img/heapbox_handler_bg.jpg);
height:44px;
border-radius: 5px;
margin-left: -6px;
}

@media (max-width:1052px){
	.heapBox .handler {
		margin-left: -25px;
	}
}

.heapBox .holder,.heapBox .handler {
float:left;
position:relative;
z-index:10;
}

.heapBox div.heap {
display:none;
position:absolute;
list-style-type:none;
left:0;
width:179px;
top:44px;
overflow:hidden;
}

.heapBox .heap .heapOptions {
display:block;
overflow:hidden;
z-index:20;
position:relative;
}

.heapBox .heap a.sliderUp {
display:block;
width:100%;
height:15px;
background:#004c1e url(../img/slider_arrow_up.png);
background-repeat:no-repeat;
background-position:center center;
position:absolute;
top:0px;
z-index:30;
}

.heapBox .heap a.sliderDown
{
display:block;
width:100%;
height:15px;
background:#fff url(../img/slider_arrow_down.png);
background-repeat:no-repeat;
background-position:center center;
position:absolute;
bottom:0px;
z-index:30;
}

.heapBox .heap .heapOptions .heapOption
{
z-index:20;
position:relative;
display:block;
height:44px;
}

.heapBox .heap .heapOptions .heapOption a {
width:100%;
display:block;
background:#fff;
text-indent:20px;
color: #4a4a4a;
border-radius:5px;
border-top: 1px solid #f4f4f4;


}

.heapBox .heap .heapOptions .heapOption a:hover{
background:#004c1e;
color: #fff;

}

.heapBox .heap .heapOptions .heapOption a.selected{
background:#fff;
}

.heapBox .heap .heapOptions .heapOption a.disabled{
	color:#019b3e;
}
